<section id="index" class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 d-flex justify-content-center">
      <div class="wrapper">
        <div class="title name mb-5">
            <span class="block"></span>
            <h1>Chukwuemeke Ojji<span></span></h1>
        </div>

        <div class="role typing-demo mb-4">
            <div class="block"></div>
            <p>Jnr Front-End Developer</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 editor mt-5" data-aos="zoom-out-left" data-aos-duration="1000">
      <div class="console">
        <div class="top"> <span class="options">⦿ ○ ○</span> <span class="console-title fw-bold">About_Me.TS </span></div>
        <div class="tabs"> </div>
        <div class="text">
          <br> -> <span class="pink">'@about me start'</span> after 12s
          <br> ->  starting server <span class="pink">..... Compiled successfully</span>
          <br> ->  <span class="orange">I'm a Nigerian <img src="https://img.icons8.com/clouds/40/000000/nigeria-flag.png"/></span>
          <br> ->  <span class="blue"> Living in Delta State</span>
          <br> ->  I stand on a sweet spot where <span class="orange">DESIGN</span> and <span class="pink">CODE</span> intersect
          <br> <span class="blue"> ->  </span> Would you like to recomplie? <span class="orange">Yes</span>
          <br> ->  Success <span class="blue">234</span> tests ran, <span class="blue">234</span> passes, <span
          class="blue">0</span> failures
          <br> ->  ... <span class="pink">'Downloading Resume'</span> after 8.81 s
          <p class="typewriter fs-6 mt-3"> <span class="orange"> root@myConsole Click to view resume -></span>
            <a href="https://drive.google.com/file/d/1TlWWovbr16AMVemW5ONroc3iPELHv6NG/view?usp=sharing" target="_blank" class="text-decoration-none"><span class="pink fw-bold "> Resume.exe <i class='bx bx-download'></i></span></a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class=" container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-12 d-flex justify-content-center" data-aos="fade-right">
      <div class=" about-img">
        <img class="avatar" src="../../../assets/images/emmy.png" alt="my image" srcset="">
      </div>
    </div>
    <div class=" col-lg-6 col-md-12" data-aos="fade-left" data-aos-duration="1000">
      <div class="about-header">
        <h2 class="section-title">About Me</h2>
      </div>
      <p><span>Hi!</span> My name is Chukwuemeke Ezekiel Ojji, I am a Front-End developer.</p>
      <p>I am currently in my penultimate year, studying Computer Science at Benson Idahosa University</p>
      <p>I have always had a keen interest in development, and not just development when it comes to programming, but
        development in a broader context</p>
      <p>I gained an interest in Web development in 2018 and during the lockdown period worked hard to develop my skills
        to a level at which I can be proud of, though that doesn't mean I will be stopping here.</p>
    </div>
  </div>
</section>

<section id="skills" class="container">
  <div class="row">

    <div class="col-lg-2 col-md-12 skills-header text-center" data-aos="fade-right">
      <h2 class="section-title">Skills</h2>
      <span>
        With skills in various design and programming languages, I am the perfect person to hire when it comes to full
        fledged static websites. Whatever your needs are, I can pretty much take on any challenge.
      </span>
    </div>

    <div class="col-lg-10 col-md-12">
      <div class="row">
        <div id="layout-section" class="col-lg-4 col-md-12 text-center" data-aos="fade-down">
          <div>
            <h4>Layout & Design</h4>
            <span>I construct pixel perfect user interfaces using technologies like HTML, CSS, SCSS, Bootstrap </span>
          </div>
          <div>
            <img src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
            <img src="https://img.icons8.com/color/96/000000/css3.png" />
            <img src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          </div>
        </div>
        <div id="js-section" class="col-lg-4 col-md-12 text-center" data-aos="fade-down">
          <div>
            <h4>JavaScript(ES6)</h4>
            <span>
              Give your site the breath of life that it needs, functions, responsiveness, integrating REST APIs of both
              complex and simple natures.
            </span>
          </div>
          <div>
            <img src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
            <img src="https://img.icons8.com/color/96/000000/angularjs.png" />
          </div>
        </div>
        <div id="version-section" class="col-lg-4 col-md-12 text-center" data-aos="fade-down">
          <div>
            <h4>Version Control</h4>
            <span>
              Using version control sytems, such as git and Github respectively, I can manage and make chanegs your site
              after deploments.
            </span>
          </div>
          <div>
            <img src="https://img.icons8.com/color/96/000000/git.png" />
            <img src="https://img.icons8.com/ios-glyphs/90/000000/github.png" />
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="row" id="skills-section-2"> -->
        <div id="backend-section" class="col-lg-6 col-md-12 text-center" data-aos="fade-up" data-aos-duration="800">
          <div>
            <h4>Backend</h4>
            <span>Writing clean and maintainable code using software architectural patterns like MVC and MVVM.</span>
          </div>
          <div>
            <img src="https://img.icons8.com/officel/80/000000/php-logo.png" />
            <img src="https://img.icons8.com/fluency/96/000000/laravel.png" />
            <img src="https://img.icons8.com/color/96/000000/python--v1.png" />
            <img src="https://img.icons8.com/ios-filled/100/000000/flask.png" />
          </div>
        </div>
        <div id="mobiledev-section" class="col-lg-3 col-md-12 text-center" data-aos="fade-up" data-aos-duration="800">
          <div>
            <h4>Mobile App Development</h4>
          </div>
          <div>
            <img src="https://img.icons8.com/color/96/000000/ionic.png" />
          </div>
        </div>
        <div id="ui-section" class="col-lg-3 col-md-12 text-center" data-aos="fade-up" data-aos-duration="800">
          <div>
            <h4>UI/UX</h4>
          </div>
          <div class="d-flex justify-content-center">
            <img src="https://img.icons8.com/color/96/000000/adobe-photoshop--v1.png" />
            <img src="https://img.icons8.com/color/96/000000/figma--v1.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="container">
  <div class="col-lg-2 col-md-12 project-header text-center">
    <h2 class="section-title">Projects</h2>
  </div>

  <div class="timeline">
    <ul>
      <li data-aos="fade-up-right" data-aos-duration="1000">
        <div class="content">
          <div class="time">
            <img class="project-img" src="../../../assets/projects/ionic-app.png" alt="" srcset="">
          </div>
          <div class="project-detail text-center">
            <h3>Finance App</h3>
            <p> Built with Ionic 4, features user authentication, Oauth authentication, integration of
              REST APIs from Laravel backend & 3rd party APIs</p>
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/ionic.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
          </div>
        </div>
      </li>
      <li data-aos="fade-up-right" data-aos-duration="1000">
        <div class="content">
          <div class="time">
            <img class="project-img" src="../../../assets/projects/project2.png" alt="" srcset="">
          </div>
          <div class="project-detail text-center">
            <h3>Finance Website</h3>
            <p>Built a financial website, integrated REST APIs and Payment Gateways</p>
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/angularjs.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
          </div>
        </div>
      </li>
      <li data-aos="fade-up-left" data-aos-duration="1000">
        <div class="content">
          <div class="time">
            <img class="project-img" src="../../../assets/projects/laravel-chat-app.png" alt="" srcset="">
          </div>
          <div class="project-detail text-center">
            <h3>Laravel Chat App</h3>
            <p>A laravel chat app that allows users communicate with admin in realtime</p>
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
          </div>
        </div>
      </li>
      <li data-aos="fade-up-right" data-aos-duration="1000">
        <div class="content">
          <div class="time">
            <img class="project-img" src="../../../assets/projects/pwa-app.png" alt="" srcset="">
          </div>
          <div class="project-detail text-center">
            <h3>PWA App</h3>
            <p>Built a fianance PWA app using laravel and JavaScript, implementing REST APIs and ServiceWorkers</p>
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
            <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
          </div>
        </div>
      </li>
      <li>
        <div class="content text-center">
            <a class="projects" routerLink="/projects">View all projects</a>
        </div>
      </li>
      <div style="clear: both;"></div>
    </ul>
  </div>
</section>


