<section id="project-grid" >
  <div class="text-center p-header" data-aos="zoom-in">
    My Projects
  </div>
  <div class="row">
    <div class="col-lg-3 mb-3" data-aos="fade-right">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/pwa-app.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center p-4">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink1()" ></i>
            </div>
            <div class="" [ngClass]="projectLink1? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>PWA App</h3>
          <p>Built a fianance PWA app using laravel and JavaScript, implementing REST APIs and ServiceWorkers</p>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-right">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/laravel-chat-app.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink2()" ></i>
            </div>
            <div class="" [ngClass]="projectLink2? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="https://github.com/ojjiemeka/simple-laravel-chat-app" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="chukwuemeke-portfolio.000webhostapp.com"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>Laravel Chat App</h3>
          <p>A laravel chat app that allows users communicate with admin in realtime project-time</p>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-left">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/ionic-app.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink3()" ></i>
            </div>
            <div class="" [ngClass]="projectLink3? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>Finance App</h3>
          <p> Built with Ionic 4, has user authentication, integration of
            REST APIs from Laravel backend & 3rd party APIs</p>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/ionic.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-left">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/project2.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink4()" ></i>
            </div>
            <div class="" [ngClass]="projectLink4? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="http://https://bull-option.com/"><i class='bx bx-link-external bx-md'></i></a>
              <a href="https://github.com/ojjiemeka/bulloptionfx-V2.git" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
            </div>
          </div>
          <h3>Finance Website</h3>
          <p>Built a financial website, integrated REST APIs and Payment Gateways</p>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/angularjs.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-right">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/xolid-music-home.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink5()" ></i>
            </div>
            <div class="" [ngClass]="projectLink5? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>4
          <h3>Music Label Website</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex alias, rem at, quas quia delectus dolorem in molestias eos id est quod voluptatibus repudiandae nostrum. Amet debitis eveniet repellendus magni.</p> -->
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/angularjs.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-right">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/nft-website.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink6()" ></i>
            </div>
            <div class="" [ngClass]="projectLink6? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>NFT website</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex alias, rem at, quas quia delectus dolorem in molestias eos id est quod voluptatibus repudiandae nostrum. Amet debitis eveniet repellendus magni.</p> -->
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-left">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/logistic-website.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink7()" ></i>
            </div>
            <div class="" [ngClass]="projectLink7? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="https://github.com/ojjiemeka/ship2xpress" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="https://ship2xpress.netlify.app/"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>Logistics Website</h3>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex alias, rem at, quas quia delectus dolorem in molestias eos id est quod voluptatibus repudiandae nostrum. Amet debitis eveniet repellendus magni.</p> -->
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-left">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/store-inventory-system.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink8()" ></i>
            </div>
            <div class="" [ngClass]="projectLink8? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>Store Inventory App</h3>
          <p></p>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/angularjs.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/officel/80/000000/php-logo.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-right">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/project1.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink9()" ></i>
            </div>
            <div class="" [ngClass]="projectLink9? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>First Portfolio</h3>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-3" data-aos="fade-right">
      <div class="content">
        <div class="time project-time">
          <img class="project-img" src="../../../assets/projects/bakery-website.png" alt="" srcset="">
        </div>
        <div class="project-detail project-list text-center">
          <div class="share">
            <div class="share-btn">
              <i class='bx bxs-share-alt bx-md' (click)="showLink10()" ></i>
            </div>
            <div class="" [ngClass]="projectLink10? 'project-links bounce project-link-fade-left' : 'fadeOut hide-links ' ">
              <a href="#" class="mx-2"><i class='bx bxl-github bx-md'></i></a>
              <a href="#"><i class='bx bx-link-external bx-md'></i></a>
            </div>
          </div>
          <h3>Bakery</h3>
          <p>Full backery website, with admin dashboard to handle orders</p>
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/html-5--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/css3.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/bootstrap.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/color/96/000000/javascript--v1.png" />
          <img class="project-badge mx-2" src="https://img.icons8.com/fluency/96/000000/laravel.png" />
        </div>
      </div>
    </div>
  </div>
</section>
